{% extends "start_plan.html" %}

{% load utils static %}

{% block title %}Ausbildungsplan Entwurf{% endblock title %}

{% block content %}
<div class="row justify-content-center align-items-center g-2">
        <div class="col">
            <h1>Ausbildungsplan Entwurf 
            <select id="select_team" onChange="onChangeSelect(this.options[this.selectedIndex].value, {{year}},  {{kw}})">    
                {% for element in teams %}
                <option value="{{element.id}}" {% if team.id == element.id %}selected{% endif %}>{{element}}</option>
                {% endfor %}
            </select>    
            </h1>
        </div>
</div>

<hr />
<div class="row">
    <div class="row justify-content-center align-items-center g-2 mb-3 fs-4">
        <div class="col-1 border border-2 border-black text-center me-3 shadow" style="background-color: #EB362C">
            <button type="button" style="background-color: #EB362C">Akt. Woche</button><br />    
            <a href="/plan/set_kw/{{team.id}}/{{year}}/{{kw}}/{{1}}"><i class="bi bi-caret-left-fill"></i></a>

            {{kw}} - {{year}}
            <a href="/plan/set_kw/{{team.id}}/{{year}}/{{kw}}/{{2}}"><i class="bi bi-caret-right-fill"></i></a>
        </div>
        {% for day in days %}
            <div class="col-2 border border-2 border-black text-center me-3 shadow"
                style="background-color: #4CD8EB">{{weekdays|get_at_index:day}} {{week|get_at_index:day }}</div>
        {% endfor %}
    </div>
</div>
<hr />
{% comment %} Ausbildungsplan {% endcomment %}
{% for gruppe in liste %}
    {% for daytime in gruppe.0 %}
        <div class="row mb-3">
            <div class="row justify-content-center align-items-center g-2 ">
                <div class="col-1 border border-1 border-black text-center me-3 shadow" style="background-color: #4CD8EB">
                    {% if daytime.1 == "am" %}
                    {{gruppe.1.room}} - {{gruppe.1.short}}
                    {% endif %}
                </div>
                {% for day in daytime.0 %}                                                          
                    <div class="col-2 border border-1 border-black text-center me-3 shadow" 
                        ondragover="allowDrop(event)" 
                        ondrop="drop(event, {{gruppe.1.id}}, {{year}}, {{kw}}, {{day.1}}, '{{daytime.1}}', {{team.id}})"
                        style="background-color: {{day.0.teacher.color}}">
                        {% if daytime.1 != "pm" or day != "4" %}
                            {{day.0.teacher}}<br /><input type="text" style="background-color: {{day.0.teacher.color}}" value="{{day.0.content}}" onchange="onChangeContent({{day.0.id}}, this.value, {{team.id}}, {{year}}, {{kw}})">
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <hr />
{% endfor %}
{% comment %} Liste freier Mitarbeiter {% endcomment %}
{% if 'plan.add_block' in perms and editable %}
    <div class="row mb-3">
        {% for daytime in daytimes %}
            <div class="row justify-content-center align-items-center g-2 ">
                <div class="col-1 border border-2 border-black text-center me-3 shadow"
                style="background-color: lightgreen">freie Ausbilder {{daytime}}</div>                    
                {% for day in days %}
                    <div class="col-2 border border-2 border-black
                        text-center me-3 shadow"
                        style="background-color: #4CD8EB">
                        {% if daytime != "pm" or day != "4" %}
                            {% with temp=year|add:","|add:kw|add:","|add:day|add:","|add:daytime|add:","|add:team.name %}
                                {% for ma in temp|get_ready_aubi %}
                                        <button id="{{ma.id}}" style="background-color: {{ma.color}};" draggable="true" ondragstart="drag(event)">{{ma.user}}</button>
                                {% endfor %}
                            {% endwith %}
                        {% endif %}
                    </div>
                {% endfor%}
            </div>
        {% endfor %}               
    </div>
    {% comment %} Liste geblockter Mitarbeiter {% endcomment %}
    <div class="row mb-3">
        <div class="row justify-content-center align-items-center g-2 ">
            <div class="col-1 border border-2 border-black text-center me-3 shadow"
                style="background-color: pink">Abwesend{{daytime}}
            </div>                    
            {% for day in days %}
                <div class="col-2 border border-2 border-black text-center me-3 shadow"
                    style="background-color: #4CD8EB">
                    {% with temp=year|add:","|add:kw|add:","|add:day|add:","|add:team.name %}
                        {% for ma in temp|get_block_aubi %}
                            <button title="{{ma.2}}">{{ma.0.user}}({{ma.1}})</button>
                        {% endfor %}
                    {% endwith %}
                </div>
            {% endfor%}
        </div>
    </div>
{% endif %}
{% endblock content %}
 
{% block js %}
    <script src="{% static 'js/plan_block.js' %}"></script> 
{% endblock js %}