{% extends "start_plan.html" %}

{% load utils static %}

{% block title %}Ausbildungsplan Entwurf{% endblock title %}

{% block content %}
<div class="row justify-content-center align-items-center g-2">
        <div class="col">
            <h1>Ausbildungsplan Entwurf 
            <select id="select_team" onChange="onChangeSelect(this.options[this.selectedIndex].value, {{year}},  {{kw}})">    
                {% for element in teams %}
                <option value="{{element.id}}" {% if team.id == element.id %}selected{% endif %}>{{element}}</option>
                {% endfor %}
            </select>
            {% if 'plan.add_block' in perms and editable %} {% comment %}Adminrechte {% endcomment %}
                <a href="/plan/copy_plan/{{team.id}}/{{year}}/{{kw}}" class="d-print-none"><button type="button" class="btn btn-outline-info ms-3" title="Plan aus letzte Woche übernehmen"><i class="bi bi-copy"></i></button></a>
                <a href="/plan/delete_plan/{{team.id}}/{{year}}/{{kw}}" class="d-print-none"><button type="button" class="btn btn-outline-danger ms-3" title="Wochenplan zurücksetzen"><i class="bi bi-x-octagon-fill"></i></button></a>
                <a href="/lehrplan/1" target="_blank"><button type="button" class="btn btn-outline-info ms-3" title="Lehrplan bearbeiten">Lehrplan</button></a>
            {% endif %}    
            </h1>
        </div>  
</div>

<hr />
<div class="row">
    <div class="row justify-content-center align-items-center g-2 mb-3 fs-4">
        <div class="col-1 border border-2 border-black text-center me-3 shadow" style="background-color: #EB362C">
            <button type="button" style="background-color: #EB362C">Akt. Woche</button><br />    
            <a href="/plan/set_kw/{{team.id}}/{{year}}/{{kw}}/{{1}}"><i class="bi bi-caret-left-fill d-print-none"></i></a>
            {{kw}}/{{year}}
            <a href="/plan/set_kw/{{team.id}}/{{year}}/{{kw}}/{{2}}"><i class="bi bi-caret-right-fill d-print-none"></i></a>
        </div>
        {% for day in days %}
            <div class="col-2 border border-2 border-black text-center me-3 shadow display-6"
                style="background-color: #4CD8EB">{{weekdays|get_at_index:day}} {{week|get_at_index:day }}</div>
        {% endfor %}
    </div>
</div>
<hr />
{% comment %} Ausbildungsplan {% endcomment %}
{% for gruppe in liste %}
    {% for daytime in gruppe.0 %}
        <div class="row mb-3">
            <div class="row justify-content-center align-items-center g-2 ">
                <div class="col-1 border border-1 border-black text-center me-3 shadow" style="background-color: #4CD8EB">
                    {% if daytime.1 == "am" %}
                    <span class="display-6" title="{{gruppe.1.room}}">{{gruppe.1.short}}</span>
                    {% endif %}
                </div>
                {% for day in daytime.0 %}                                                     
                    <div  title="{{day.0.teacher}}" class="col-2 border {% if day.3 %}border-4 border-danger{% else %}border-1 border-black{% endif %} text-center me-3 shadow" 
                        ondragover="allowDrop(event)" 
                        ondrop="drop(event, {{gruppe.1.id}}, {{year}}, {{kw}}, {{day.1}}, '{{daytime.1}}', {{team.id}})"
                        style="background-color: {{day.0.teacher.color}}; color: {{day.0.teacher.fg_color}};">
                        {% if daytime.1 != "pm" or day != "4" %}    {% comment %} Kein Freitag Nachmittag {% endcomment %}
                            <span class="display-6" {% if day.3 %}title="{{day.3}}"{% endif %} >{{day.0.teacher.user.last_name}}
                            {% if day.3 %}
                                -- Jour Fixe
                            {% endif %}
                            </span ><br />
                            {% if 'plan.add_block' in perms and editable %}
                                 {% if  day.0.id %} {% comment %} Block muss vorhanden sein {% endcomment %}
                                     <input type="text" style="background-color: {{day.0.teacher.color}}; color: {{day.0.teacher.fg_color}};" value="{{day.0.content}}" onchange="onChangeContent({{day.0.id}}, this.value, {{team.id}}, {{year}}, {{kw}})">
                                     <select style="background-color: {{day.0.teacher.color}}; color: {{day.0.teacher.fg_color}};" onchange="onChangeLehrplan({{day.0.id}}, this.value, {{team.id}}, {{year}}, {{kw}})">
                                            <option value="x">---------</option>
                                        {% for block in day.2 %}
                                            <option title="{{block.beschreibung}}" value="{{block.id}}" {% if day.0.lehrblock.id == block.id %}selected{% endif %}>
                                                {{block.lernfeld.nummer}}-{{block.inhalt|truncatechars:9}}
                                            </option>
                                        {% endfor %}
                                     </select>
                                    <a hreF="{% url 'block_del' day.0.id team.id %}"><i class="bi bi-trash" title="Eintrag löschen" style="float: right;" ></i></a>
                                {% endif %}
                            {% else %}
                                <span style="text-align: center">{{day.0.content}}</span>
                            {% endif %} 
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <hr />
{% endfor %}
{% comment %} Liste freier Mitarbeiter {% endcomment %}
{% if 'plan.add_block' in perms and editable %}
    <div class="row mb-3 d-print-none">
        {% for daytime in daytimes %}
            <div class="row justify-content-center align-items-center g-2 ">
                <div class="col-1 border border-2 border-black text-center me-3 shadow"
                style="background-color: lightgreen">freie Ausbilder {{daytime}}</div>                    
                {% for day in days %}
                    <div class="col-2 border border-2 border-black
                        text-center me-3 shadow"
                        style="background-color: #4CD8EB">
                        {% if daytime != "pm" or day != "4" %}
                            {% with temp=year|add:","|add:kw|add:","|add:day|add:","|add:daytime|add:","|add:team.name %}
                                {% for ma in temp|get_ready_aubi %}
                                        <button id="{{ma.id}}" style="background-color: {{ma.color}};" draggable="true" ondragstart="drag(event)">{{ma.user}}</button>
                                {% endfor %}
                            {% endwith %}
                        {% endif %}
                    </div>
                {% endfor%}
            </div>
        {% endfor %}               
    </div>
    {% comment %} Liste geblockter Mitarbeiter {% endcomment %}
    <div class="row mb-3">
        <div class="row justify-content-center align-items-center g-2 ">
            <div class="col-1 border border-2 border-black text-center me-3 shadow"
                style="background-color: pink">Abwesend{{daytime}}
            </div>                    
            {% for day in days %}
                <div class="col-2 border border-2 border-black text-center me-3 shadow"
                    style="background-color: #4CD8EB">
                    {% with temp=year|add:","|add:kw|add:","|add:day|add:","|add:team.name %}
                        {% for ma in temp|get_block_aubi %}
                            <a href="/admin/plan/aubiblock/{{ma.3}}/change" target="_blank"><button title="{{ma.2}}">{{ma.0.user}}({{ma.1}})</button></a>
                        {% endfor %}
                    {% endwith %}
                    {% comment "Plus hinzufügen" %}{% endcomment %}
                    <a href="/admin/plan/aubiblock/add/" target="_blank" title="Hinzufügen"><button class="btn btn-outline-primary"><i class="bi bi-person-plus d-print-none"></button></i></a>
                </div>
            {% endfor%}
        </div>
    </div>
{% endif %}
{% endblock content %}
 
{% block js %}
    <script src="{% static 'js/plan_block.js' %}"></script> 
{% endblock js %}