{% block form %}
    <form action="{{form_action}}">
        <div class="mb-3">
            <label for="select_" class="form-label">City</label>
            <select
                class="form-select form-select-lg"
                name=""
                id=""
            >
                <option selected>Select one</option>
                <option value="">New Delhi</option>
                <option value="">Istanbul</option>
                <option value="">Jakarta</option>
            </select>
        </div>
        
        
    <form>    
{% endblock form %}